// menu wrapper
.menu-list{
   width: 224px;
   padding-bottom: 8px;


    .menu-item {
    margin-left: 0;
    }
}
.menu-body{
    max-height: 400px;
    overflow-y: auto;
}

   // menu items
.menu-item{
    width: 100%;
    justify-content: flex-start;
    &:hover{
        background-color: rgba(222, 220, 220, 0.5);
    }
    &.separate{
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}   

// Header 
.header{
    position: relative;
    height: 50px;
    flex-shrink: 0;
}
.back-btn{
    width: 50px;
    height: 100%;
    background: transparent;
    cursor: pointer;

}
.header-title{
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

